<h1>トップだよ</h1>
<p>まずは検索してみよう</p>

<%= form_tag('/',:method => :get, :multipart => true) do %>
<%= text_field :searchform, :name %>
<%= submit_tag '検索', :name=>'hoge' %>
<% end %>

<%= paginate @products %>

<table>
  <thead>
    <tr>
      <th>商品イメージ</th>
      <th>商品名</th>
      <th>金額</th>
      <th>評価</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><img src="<%= product.image_small_url %>" ></td>
        <td><%= link_to product.product_name, product.url %></td>
        <td>
        <% if product.sale_price != nil %>
          <%= product.sale_price %>円(<%= product.period_start %>~<%= product.period_end %>)</p>
        <% else %>
          <%= product.default_price %>円
        <% end %>
        </td>
        <td>
        <% if product.sale_price != nil %>
            <%= product.review_average %>
        <% else %>
            評価はありません
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>